/********************************************
                POLICES
********************************************/

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "kalam";
    src: url("../fonts/kalam/Kalam-Regular.ttf");
}
@font-face {
    font-family: "kalam-bold";
    src: url("../fonts/kalam/Kalam-Bold.ttf");
}
/********************************************
                GENERAL
********************************************/

html {
    /* Couleur */
    background-image: url("../images/presentation/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    /* Couleur */
    color:white;

    /* Marge */
    margin: 0;
    padding: 0;

    /* Position */
    display: block;

    /* Police */
    font-family: "montserrat";
    font-size: 16px;
    font-weight: 400;
}

.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.big-icon i {
    /* Marge */
    margin: 38px 0 20px 0;

    /* Police */
    font-size: 100px;
    color: #005fdb;
}

.big-icon p {
    /* Police */
    font-family: "kalam-bold";
    font-size: 35px;
    color: #005fdb;
    text-transform: uppercase;
}

/********************************************
            ORGANISATION GENERALE
********************************************/

.card-inner {
    /* Postion */
	position: absolute;
	left: 540px;
	right: 0px;
	top: 73.5px;
	bottom: 75px;

    /* Taille */
	width: auto;
	height: auto;

    /* Marge */
    padding: 0;
    
    /* Apparence */
	overflow: hidden;

    /* Couleur */
    background-color: white;
}

.card-inner::before, .card-inner::after  {
    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    z-index: 10;

    /* Taille */
    height: 30px;
    
    /* Couleur */
    background-color: white;
    
    /* Apparence */
    content: '';
}

.card-inner .card-wrap {
    /* Position */
    position: relative;

    /* Marge */
    padding: 30px 30px 0 30px;

    /* Taille */
    height: 100%;

    /* Apparence */
    overflow: auto;
}

.content {
    /* Position */
    position: relative;

    /* Marge */
    margin: 0 0 40px 0;
}

.row .col {
    /* Position */
    position: relative;
    display: inline-block;
    vertical-align: top;

    /* Marge */
    padding: 30px;

    /* Police */
    font-size: 16px;
}

/********************************************
                HEADER
********************************************/

.header {
    /* Position */
    position: relative;
    float: left;
    left: 0;
    top: 73.5px;
    z-index: 100;
    text-align: center;

    /* Marge */
    margin-right: 8px;
   
    /* Taille */
    width: 125px;
    
    /* Apparence */
    opacity: 1;
    visibility: visible;
}

/********************************************
                MENU
********************************************/

.main-menu {
    /* Taille */
    width:100%;
}

.main-menu ul {
    /* Marge */
    margin: 0;
    padding: 0;

    /* Apparence */
    list-style: none;
}

.main-menu ul li {
    /* Position */
    display: block;

    /* Marge */
    margin-bottom: 0px;
}

.main-menu ul li a {
    /* Marge */
    padding: 20px 3px;

    /* Position */
    position: relative;
    display: block;
    height: auto;

    /* Couleur */
    background-color: white;
    color: black;

    /* Police */
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

a .icon {
    /* Marge */
    margin: 0 auto;
    line-height: 30px;

    /* Position */
    position: relative;
    display: block;
    top: 0;
    left: 0;

    /* Police */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8); 
    
    /* Taille */
    width: 40px;
    height: 35px;
}

a .link {
    /* Marge */
    line-height: 20px;

    /* Position */
    position: relative;
    left: 0;
    top: 0;

    /* Taille */
    width: 100%;

    /* Police */
    font-size: 12px;
}

.active-link i, .active-link span {
    /* Couleur */
    color: #005fdb;
}